/* @import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Delius&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rouge+Script&family=Special+Elite&display=swap'); */

*{
margin:0;
padding:0;
font-family: "Poppins", sans-serif;
}

header{
    background-color: black;
    width:100vw;
   height:70px;
    display:flex;
    justify-content: space-between;
    position: sticky;
    top:0px;
    z-index: 1;
    padding:10px;
}
#left{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
#left h1{
    color: white;
    font-weight: 300;
    margin-left: 80px;
    margin-right: 20px;
}
#left ul{
    display: flex;
    gap:20px;
}
#left ul li{
    list-style: none;
}
#left ul li a{
    text-decoration: none;
    color:white;
}
#left ul li a:hover{
    background-color: #333;
    padding:5px 10px;
    border-radius: 20px;
    transition: .5s ease;

}
#right{
    display:flex;
    align-items:center;
    justify-content: center;
    gap:40px;
    margin-right:80px;
}
#right ul{
    display: flex;
    gap:20px;
}
#right ul li{
    list-style: none;
}
#right ul li a{
    text-decoration: none;
    color:white;
}
#right ul li a:hover{
    background-color: #333;
    padding:5px 10px;
    border-radius: 20px;
    transition: .5s ease;
}
#right i{
    /* padding:10px; */
    color: white;
}
#right button{
    border-radius: 20px;
    padding: 8px;
    font-weight: 500;
    font-size: 2 rem;
}
#right button:hover{
     background-color: #d2cece;
    /* padding:5px 10px; */
    border-radius: 20px;
    transition: .5s ease;
}
/* u can also make the above code in only 2 parts by giing the formatting in header>ul>li>a */
nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:5px 0px;
    height: 40px;
    margin-top: 20px;
}
nav h1{
    margin-left:80px;
    margin-right:90px;
    font-weight:600;
}
nav h1:hover{
    background-color: #f2f0f0;
    border-radius: 50%;
    padding:10px 0px;
}
nav ul{
    display:flex;
    gap:20px;
    margin-right:80px;
}
nav ul li{
    list-style: none; 
}
nav ul li a{
    text-decoration:none;
    color:#6b6b6b;
    font-size:3 rem;
}
nav ul li a:hover{
    color:black;
    transition: .4s ease;
}
#main{
    display:flex;
    align-items:center;
    justify-content:space-around;
    gap:80px;
    width:100vw; 
    
}
#main div p{
    font-size: 19px;
}
#main>div>p>span>a{
    color:black;
}
#main>div>p>span>a:hover{
    background-color: #eeeeee;
    border-radius: 20px;
}
#main>div>h1{
    font-size:3.25rem;
    font-weight:300px;
    line-height:84px;
}
.hero-box{
    width:40%;
}
#main-left{
    display:flex;
    flex-direction: column;
    gap:20px;
    margin-left:100px;
    /* line-height: 80px; */
}
#p2{
    line-height: 40px;
}
#tag{
    color: rgb(90, 148, 3);
}
#main-left div div input {
    width:350px;
    height:80px;
    border-radius:10px;
    margin-top:20px;
    background-color: #eae8e8;
    text-align: center;
    
}
.location{
    position:relative;
    top:0px;

}
.pickL,.dropL{
    position: relative;
    top:0px;
}
#picki{
    position: absolute;
   top:50px;
   left:10px;
}
#dropi{
    position: absolute;
    left:12px;
    bottom:30px;
}
.Hline{
    width:0px;
    height:90px;
    border: .5px solid black;
    position:absolute;
    left:20px;
    top:65px;
    z-index: 1;
    
}
.main-button{
    padding:8px 24px;
    border-radius: 10px;
    border-style:none;
    font-weight: 600;
    font-size:15px;
}

/* giving space in class name means another class is declared  */
.btn1{
    background-color: black;
    color:white;
    padding:20px;
    width:30%;
    font-size: 20px;
}
.btn2{
    background-color:#edeaea;
    color:black;
    padding:20px;
    width:40%;
    font-size: 20px;
}
#main-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
#main-right img{
    margin-top: 50px;
    /* margin-right:30px; */
    height: 80%;
    width:80%;
}
.Uber-heading{
    padding: 30px;
    font-size: large;
    display:flex;
    margin-top: 50px;
    border: dotted black;
}
.Uber-heading>a{
    text-decoration: none;
}
.Uber-heading>i{
    padding:7px;
    font-size: 30px;
}
#hero-section-hide{
    display: none;
    margin-left:30px;
}
#suggestions{
 margin:80px;
}
#suggestions h2{
    font-size: xx-large;
    margin:20px;
}
#suggestions img{
    width: 30%;
    height: 20%;
}

.sugg-super{
    display:flex;
    flex-wrap: wrap;
    gap:20px;
}
.sugg-super>div{
    background-color:rgb(243 243 243);
     width: 450px;
    height: 200px;
    padding:22px;
    border-radius: 10px;
    margin: 10px;
}
.sugg-super>div>div{
    display: flex;
}
.sugg-super>div>div>p{
    margin-top: 20px;
   color: #2e2d2d;
}
.btn>button{
    padding:10px;
    border-radius: 10px;
    border-style: none;
    background-color: white;
}

#plan-section>h1{
    margin-left:100px;
    margin-bottom: 30px;
}
#plan-main{
display: flex;
  width:90vw;
  /* height: 520px; */
  gap:100px;

  margin: auto;  
}
.bottom{
    display:flex;
    align-items: center;
    gap: 30px;
}
#dt{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.up{
    /* margin:10px; */
    display: flex;
    gap:250px;
}

.bottom input{
    padding:25px;
    border-radius: 10px;
    width: 200px;
    border-style: none;

}
.left-plan{
display:flex;
  width:55%;
  background-color:#9dcdd9 ;
  border-radius: 20px;

}
.left-sub{
    padding-top:80px;
    padding-left: 60px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap:20px;
    font-size: large; 
}
.left-sub p{
    margin-top: 50px;
    font-size: 25px;
}
.left-sub>button{
    color: white;
    background-color: black;
    border-radius: 10px;
    padding:15px;
    width:65%;
    height: 60px;
    /* margin-top:20px; */
}
.right-sub img{
    /* margin-top:100px; */
    height:500px;
    width:300px;
}

.right-plan{
    font-size:30px;
    padding:15px;
    height:500px;
    width: 500px;
    border-radius: 30px;
    border:1px solid white;
    background-color:rgb(255 255 255);
}
.benefits{
    display: flex;
    gap:28px;
    margin-top: 70px;
}

footer{
    margin-top:20px;
    background-color: black;
    display: flex;
    justify-content: center;
}
.footer-main{
   display: flex;
   width: 80vw;
   flex-direction: column;
   margin-top: 80px;
   margin-bottom: 0px;
   gap:40px;

}
#footer-logo{
    display: flex;
    flex-direction: column;
    gap:40px;
    
}
#footer-logo p{
    color: white;
    font-weight:100;
    font-size: 60px;
    margin-bottom: 20px;
}
#footer-logo a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
}
#footer-nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:40px;
}
.footer-nav-box{
    width: 300px;
}
#footer-nav h4{
    color: white;
    margin-bottom: 20px;
    font-size: large;
}
#footer-nav ul li{
    list-style: none;
}
#footer-nav ul{
    display: flex;
    flex-direction: column;
    gap:15px;
}
#footer-nav a{
    text-decoration: none;
    color: white;
}
#footer-nav a:hover{
    color: #dcdcdc;
    transition: a .3s ease;
}

#footer-socio{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom:60px;
}

#footer-socio ul{
    display: flex;
    gap:20px;
}
#footer-socio ul li{
    list-style: none;
    color: white;
    
}
#footer-socio a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 5px 8px;
    border-radius: 10px;
}
#footer-socio a:hover{
    background-color: #6b6b6b53;
}
#footer-socio i{
    font-size:30px;
}
#footer-apps{
    display: flex;
    gap:40px;
    align-items: center;
}
#footer-apps img{
    width: 200px;
}
#footer-tnc{
    display: flex;
    justify-content: space-between;
}
#footer-tnc p{
    color: #6b6b6b;
}
#footer-tnc ul{
    display: flex;
    gap:20px;
}
#footer-tnc ul li{
    color: #6b6b6b;
    list-style: none;
}

#footer-tnc a{
    text-decoration: none;
    color: #6b6b6b;
}

#footer-tnc a:hover{
    color: white;
    transition: a .3s ease;
}


/* #sticky-footer>div{
    background-color: white;
    height:80px;
    width:100vw;
    position:fixed;
    bottom:0;
}
#sticky-footer>div>button{
    padding:30px;
    background-color: black;
    width:95vw;
    height:40px;
    border-radius: 10px;
    color: white;
    margin-top:10px;
    margin-bottom: 20px;
    margin-left:25px;
   
} */
/* #sticky-footer>div>button>p{ */
     /* font-size: 25px; */
    /* text-align: center; */
    /* margin-bottom:80px; */
/* } */

.pic-section{
    margin-top:50px;
    margin-bottom:80px;
    margin-left:100px;
    flex:1;
}
.pic-section h2{
    font-size:40px;

}
.pic-sub{
    display: flex;
    gap:40px;
    align-items: center;
    margin-top:30px;
    justify-content: space-between;
}
.pic-sub>div>img{
    height:500px;
    width:500px;
    /* margin-bottom: 30px; */
}
/* #pic1{
    width:30%;
}
#pic2{

    width:30%;
}
#pic3{
    width:30%;
} */
.pic-sub>div>h4{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top:20px;
}
.pic-sub>div>p{
    font-size: 25px;
    /* font-weight: 100; */
    margin-bottom: 20px;
}
.pic-sub>div>button{
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
}

@media screen and (max-width:1134px)
{
    #left>ul{
        display:none;
    }
    nav>ul{
        display: none;
    }
    #main{
        flex-direction: column;
    }
    #main-right{
        display: none;
    }
    #hero-section-hide{
        display: block;
    }

}

@media screen and (max-width:1134px)
{
    #plan-main{
        flex-wrap: wrap;
        /* z-index: -10; */
    }
    .right-sub img{
        display: none;
    }
    .pic-sub{
        flex-wrap: wrap;
        gap:20px;
    }
   
}
